/* Efecto Hover para Tarjetas de Producto */
.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

/* Animación de Escala para Iconos de Redes Sociales */
.social-icon {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
    color: var(--verde-principal);
}